<style>
    .Boton-Subir {
        background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff);
        box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset, -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset !important;
        background-size: 200% 100%;
        transition: all 0.2s ease-in-out;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .Boton-Subir:hover {
        background-position: 90% 0 !important;
        transition: all 0.4s ease-in-out !important;
        box-shadow: 0px 0px 20px rgba(255, 53, 144, 0.5) !important;
        transform: scale(1.05) !important; /* Escala el botón y el texto */
        font-weight: bold;
    } 

    .botonsubir-thumbnails {
        border-radius: 30px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    #previewContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    #removeButton {
        background: none;
        border: none;
        color: #ff29b8;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
</style>

<div class="pd-form__input">
    <label class="pd-form__label">Subir Archivo</label>
    <input type="file" id="fileUpload" name="properties[File Upload]" accept="{{ section.settings.file_extensions }}" required style="display: none;">
    <button type="button" id="BotonSubir" class="Boton-Subir">
        {{ section.settings.file_button_text }}
        <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/FolderUpIcon.svg?v=1720358303" alt="FolderUpIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">
    </button>
    <div id="previewContainer" style="display: none;">
        <img id="filePreview" class="botonsubir-thumbnails" src="" alt="File Preview" />
        <button type="button" id="removeButton">
            <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/RefreshIcon.svg?v=1720358522" alt="RefreshIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-right: 5px;">
            {{ section.settings.change_button_text }}
        </button>
    </div>
</div>

