<style>
    .Boton-Subir {
        background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff);
        box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset, -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset !important;
        background-size: 200% 100%;
        transition: all 0.2s ease-in-out;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
    }

    .Boton-Subir:hover {
        background-position: 90% 0 !important;
        transition: all 0.4s ease-in-out !important;
        box-shadow: 0px 0px 20px rgba(255, 53, 144, 0.5) !important;
        transform: scale(1.05) !important; /* Escala el botón y el texto */
    } 

    .botonsubir-thumbnails {
        border-radius: 10px;
        width: 200px;
        height: 150px;
        object-fit: contain;
        position: relative;
    }

    #previewContainer {
        position: relative;
        display: none;
        width: fit-content;
    }

    #removeButton {
        background: none;
        border: none;
        color: white;
        background-color: #ff29b8;
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    #removeButton img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
    }

    .avisoarchivo {
        position: relative !important;
        background: #0f0e0e !important;
        color: #fff !important;
        border-radius: 30px !important;
        font-size: 20px !important;
        padding: 20px !important;
        border: 3px solid transparent !important;
        background-image: linear-gradient(rgb(16, 16, 16), rgb(16, 16, 16)),
            linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff) !important;
        background-origin: border-box !important;
        background-clip: padding-box, border-box !important;
        background-size: 200% 100% !important;
        animation: gradientAnimation 4s ease-in-out infinite !important;
        display: flex;
        flex-direction: column;
    }

    .botonaviso {
        background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff) !important;
        box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset, -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset !important;
        background-size: 200% 100% !important;
        transition: all 0.2s ease-in-out !important;
        font-weight: bold !important;
        border: 2px solid #fff !important;
        padding: .75em 2em;
        cursor: pointer;
        border-radius: 30px;
        align-self: flex-end; /* Posiciona el botón en la esquina inferior derecha*/
        color: #fff;
    }

    .botonaviso:hover {
        background-position: 90% 0 !important;
        transition: all 0.4s ease-in-out !important;
        box-shadow: 0px 0px 20px rgba(255, 53, 144, 0.5) !important;
        transform: scale(1.05) !important; /* Escala el botón y el texto */
        font-weight: bold !important;
    }

#fileInput {
display: none;
}

    @media only screen and (max-width: 768px) {
        .pd-form__input {
            text-align: center;
        }
        
        #previewContainer {
            margin: 0 auto;
        }
        
        .avisoarchivo {
            padding: 5px 5px 15px 5px !important;
            width: 90%;
        }

        .product-form__input {
text-align: center;
}

    }

    .hidden {
    display: none; /* Oculta el elemento */
}


    .custom.form__label {
    margin-bottom: 0.6rem;
    display: block; /* Asegura que el label se muestre en una línea separada */
    text-align: left; /* Alineación por defecto */
    width: 100%; /* Asegura que el label ocupe todo el ancho del contenedor */
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineación por defecto en pantallas grandes */
    width: 50%; /* Ancho por defecto para pantallas grandes */
}

.field.custom {
    margin-top: 0;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
}

.custom .field__input {
    padding-top: 0.8rem;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: auto; /* La altura será automática */
    resize: vertical; /* Permite que el usuario ajuste la altura */
    overflow: hidden; /* Oculta las barras de desplazamiento */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.field__input::placeholder {
    color: #4f4f4f; /* Gris opaco */
    opacity: 1; /* Asegura que el color del placeholder sea visible */
  }

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .field-container {
        width: 100%; /* Ancho completo en dispositivos móviles */
        align-items: center; /* Centra el contenido del contenedor */
    }
    
    .custom.form__label {
        text-align: center; /* Centra el texto del label en móviles */
    }
}

       /* From Uiverse.io by Yaya12085 */ 
/* The switchPro - the box around the sliderPro */
.switchPro {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 2em;
}


/* The sliderPro */
.sliderPro {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .4s;
}

.sliderPro:before {
  position: absolute;
  content: "LOGO";
  height: 90%;
  width: 48%;
  left: 2%;
  border-radius: 20px;
  background-color: white;
  color: green;
  display: grid;
  align-content: center;
  justify-content: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 -1.31em 1.31em -1.31em rgba(0, 0, 0, 0.3) inset, 0 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: .4s;
}

.sliderPro:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 1.71em;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1));
  z-index: -1;
}

.switchPro input:checked + .sliderPro {
    background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff);
  color: #fff;
}

.switchPro input:checked + .sliderPro:before {
  content: "NOMBRE";
  transform: translateX(100%);
  color: red;
}

.switchPro input {
  display: none;
}

</style>

<!-- Toggle switchPro para elegir entre LOGO y Nombre -->
<div>
  

<label class="switchPro">
  <input type="checkbox" id="toggleSwitch" checked>
  <div class="sliderPro">
    <span>LOGO</span>
    <span>NOMBRE</span>
  </div>
</label>
   
</div>

<div class="product-form__input" id="logo-field">
    <label style="display:none;" class="pd-form__label">Subir Archivo</label>
    <input type="file" id="fileInput" form="{{ 'product-form-' | append: section.id }}" name="properties[LOGO]" accept="image/png" style="display: none;">
    <div id="previewContainer">
        <img id="filePreview" class="botonsubir-thumbnails" src="" alt="File Preview" />
        <button type="button" id="removeButton" class="boton-eliminar">
            <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/XIcon.svg?v=1720922730" alt="Remove Icon">
        </button>
    </div>
    <button type="button" id="BotonSubir" class="Boton-Subir">
       SUBIR ARCHIVO
       <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/FolderUpIcon.svg?v=1720358303" alt="FolderUpIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">
    </button>
</div>

<div class="field-container" id="nombre">
<label class="form__label-text custom" for="nombre">Nombre</label>
<div class="field nombre">
    <input class="field__input" form="{{ 'product-form-' | append: section.id }}" type="text" id="nombrePro" name="properties[Nombre]" placeholder="Escribe tu nombre o el de tu negocio">
</div>
</div>
<div class="field-container hidden" id="nota-field">
    <label class="form__label-text custom" for="nota-opcional">Nota (Opcional):</label>
    <div class="field custom">
        <textarea class="field__input" form="{{ 'product-form-' | append: section.id }}" id="nota-opcional" name="properties[Nota (Opcional):]" placeholder="¿Alguna Sugerencia?"></textarea>
    </div>
</div>




<script>
    // Codigo Boton Subir Archivo
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById('product-form-template--16477474848828__main');
        console.log('Formulario encontrado:', form);

        if (form) {
            form.removeAttribute("novalidate");
            console.log('Atributo "novalidate" eliminado del formulario.');
        }

        const fileInput = document.getElementById('fileInput');
        console.log('Input de archivo encontrado:', fileInput);

 // Remover el atributo 'required'
        fileInput.removeAttribute('required');
        console.log("Atributo 'required' removido del input de archivo.");

        const toggleswitchPro = document.getElementById('toggleSwitchPro');
        const nombreField = document.getElementById('nombre');
        const logoField = document.getElementById('logo-field');
        const notaField = document.getElementById('nota-field');

        const botonSubir = document.getElementById('BotonSubir');
        console.log('Botón de subir encontrado:', botonSubir);

        const previewContainer = document.getElementById('previewContainer');
        console.log('Contenedor de previsualización encontrado:', previewContainer);

        const filePreview = document.getElementById('filePreview');
        console.log('Previsualización de archivo encontrada:', filePreview);

        const removeButton = document.getElementById('removeButton');
        console.log('Botón de remover archivo encontrado:', removeButton);

        const overlay = document.getElementById('overlay');
        console.log('Overlay encontrado:', overlay);

        const closeOverlay = document.getElementById('closeOverlay');
        console.log('Botón de cerrar overlay encontrado:', closeOverlay);

        const overlayMessage = document.getElementById('overlayMessage');
        console.log('Mensaje de overlay encontrado:', overlayMessage);

        const addToCartButtons = document.querySelectorAll(".product-form__submit");
        console.log('Botones de añadir al carrito encontrados:', addToCartButtons);

         // Función para actualizar la visibilidad de los campos según el toggle switch
         function updateFields() {
            if (toggleSwitch.checked) {
                // Mostrar LOGO y ocultar NOMBRE
                logoField.classList.remove('hidden');
                nombreField.classList.add('hidden');
                notaField.classList.add('hidden');
                fileInput.name = 'properties[LOGO]';
                fileInput.required = false;
            } else {
                // Mostrar NOMBRE y ocultar LOGO
                logoField.classList.add('hidden');
                nombreField.classList.remove('hidden');
                notaField.classList.remove('hidden');
                fileInput.name = '';
                fileInput.required = false;
            }
        }

        // Inicializar campos según el estado del toggle switch
        updateFields();

        // Agregar evento al toggle switchPro para actualizar campos
        toggleSwitch.addEventListener('change', updateFields);

        // Código Botón Subir Archivo
        botonSubir.addEventListener('click', () => {
            if (toggleSwitch.checked) {
                fileInput.click();
            }
        });

        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            console.log('Archivo seleccionado:', file);

            if (file && file.type === 'image/png') {
                const reader = new FileReader();
                reader.onload = function(e) {
                    filePreview.src = e.target.result;
                    previewContainer.style.display = 'block';
                    botonSubir.innerHTML = 'CAMBIAR ARCHIVO <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/RefreshIcon.svg?v=1720358522" alt="RefreshIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">';
                     // Mostrar el campo textarea si es un archivo PNG
        // const notaField = document.getElementById('nota-field');
        if (notaField) {
            notaField.classList.remove('hidden'); // Mostrar el campo
        }
                }
                reader.readAsDataURL(file);
                console.log('Archivo PNG cargado y previsualizado.');

            } else {
                fileInput.value = "";
            overlayMessage.innerHTML = "Formato no permitido <br> por favor suba su logo en formato .PNG";
            overlay.style.display = 'flex';
            document.body.style.overflow = 'hidden';
                console.error('Archivo seleccionado no es PNG.');
            }
        });

        removeButton.addEventListener('click', () => {
            fileInput.value = "";
            filePreview.src = "";
            previewContainer.style.display = 'none';
            botonSubir.innerHTML = 'SUBIR ARCHIVO <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/FolderUpIcon.svg?v=1720358303" alt="FolderUpIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">';
            console.log('Archivo removido y previsualización ocultada.');
            // Ocultar el campo textarea si es un archivo PNG
        // const notaField = document.getElementById('nota-field');
        if (notaField) {
            notaField.classList.add('hidden'); // Mostrar el campo
        }
        });

          // Validación al agregar al carrito
         
        addToCartButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                if (!fileInput.files.length && toggleSwitch.checked) {
                    event.preventDefault();
                    overlayMessage.textContent = "Ups! Has olvidado cargar tu archivo.";
                    overlay.style.display = 'flex';
                    document.body.style.overflow = 'hidden';
                }
            });
        });

        closeOverlay.addEventListener('click', () => {
            overlay.style.display = 'none';
            document.body.style.overflow = 'auto';
            console.log('Overlay cerrado.');
        });
    });

</script>
