<style>
    .Boton-Subir {
        background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff);
        box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset, -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset !important;
        background-size: 200% 100%;
        transition: all 0.2s ease-in-out;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
    }

    .Boton-Subir:hover {
        background-position: 90% 0 !important;
        transition: all 0.4s ease-in-out !important;
        box-shadow: 0px 0px 20px rgba(255, 53, 144, 0.5) !important;
        transform: scale(1.05) !important; /* Escala el botón y el texto */
    } 

    .botonsubir-thumbnails {
        border-radius: 10px;
        width: 200px;
        height: 150px;
        object-fit: cover;
        position: relative;
    }

    #previewContainer {
        position: relative;
        display: none;
        width: fit-content;
    }

    #removeButton {
        background: none;
        border: none;
        color: white;
        background-color: #ff29b8;
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    #removeButton img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
    }

    .avisoarchivo {
        position: relative !important;
        background: #0f0e0e !important;
        color: #fff !important;
        border-radius: 30px !important;
        font-size: 20px !important;
        padding: 20px !important;
        border: 3px solid transparent !important;
        background-image: linear-gradient(rgb(16, 16, 16), rgb(16, 16, 16)),
            linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff) !important;
        background-origin: border-box !important;
        background-clip: padding-box, border-box !important;
        background-size: 200% 100% !important;
        animation: gradientAnimation 4s ease-in-out infinite !important;
        display: flex;
        flex-direction: column;
    }

    .botonaviso {
        background-image: linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c, #ff29b8, #5a0dff) !important;
        box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset, -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset !important;
        background-size: 200% 100% !important;
        transition: all 0.2s ease-in-out !important;
        font-weight: bold !important;
        border: 2px solid #fff !important;
        padding: .75em 2em;
        cursor: pointer;
        border-radius: 30px;
        align-self: flex-end; /* Posiciona el botón en la esquina inferior derecha*/
        color: #fff;
    }

    .botonaviso:hover {
        background-position: 90% 0 !important;
        transition: all 0.4s ease-in-out !important;
        box-shadow: 0px 0px 20px rgba(255, 53, 144, 0.5) !important;
        transform: scale(1.05) !important; /* Escala el botón y el texto */
        font-weight: bold !important;
    }

#fileInput {
display: none;
}

    @media only screen and (max-width: 768px) {
        .pd-form__input {
            text-align: center;
        }
        
        #previewContainer {
            margin: 0 auto;
        }
        
        .avisoarchivo {
            padding: 5px 5px 15px 5px !important;
            width: 90%;
        }
    }
</style>

<div class="pd-form__input">
    <label style="display:none;" class="pd-form__label">Subir Archivo</label>
    <!-- Mantenemos el atributo form para especificar el formulario al que pertenece -->
    <input type="file" id="fileInput" name="properties[LOGO]" accept="image/png" style="display: none;">
    <div id="previewContainer">
        <img id="filePreview" class="botonsubir-thumbnails" src="" alt="File Preview" />
        <button type="button" id="removeButton" class="boton-eliminar">
            <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/XIcon.svg?v=1720922730" alt="Remove Icon">
        </button>
    </div>
    <button type="button" id="BotonSubir" class="Boton-Subir">
       SUBIR ARCHIVO
       <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/FolderUpIcon.svg?v=1720358303" alt="FolderUpIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">
    </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const fileInput = document.getElementById('fileInput');
    const botonSubir = document.getElementById('BotonSubir');
    const previewContainer = document.getElementById('previewContainer');
    const filePreview = document.getElementById('filePreview');
    const removeButton = document.getElementById('removeButton');
    const overlay = document.getElementById('overlay');
    const closeOverlay = document.getElementById('closeOverlay');
    const overlayMessage = document.getElementById('overlayMessage');
    const addToCartButtons = document.querySelectorAll('.product-form__submit');

    console.log('Input de archivo encontrado:', fileInput);
    console.log('Botón de subir encontrado:', botonSubir);
    console.log('Contenedor de previsualización encontrado:', previewContainer);
    console.log('Previsualización de archivo encontrado:', filePreview);
    console.log('Botón de remover archivo encontrado:', removeButton);
    console.log('Overlay encontrado:', overlay);
    console.log('Botón de cerrar overlay encontrado:', closeOverlay);
    console.log('Mensaje de overlay encontrado:', overlayMessage);
    console.log('Botones de añadir al carrito encontrados:', addToCartButtons);

    botonSubir.addEventListener('click', () => {
        fileInput.click();
        console.log('Click en botón de subir archivo.');
    });

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        console.log('Archivo seleccionado:', file);

        if (file && file.type === 'image/png') {
            const reader = new FileReader();
            reader.onload = function(e) {
                filePreview.src = e.target.result;
                previewContainer.style.display = 'block';
                botonSubir.innerHTML = 'CAMBIAR ARCHIVO <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/FolderUpIcon.svg?v=1720358303" alt="FolderUpIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">';
            }
            reader.readAsDataURL(file);
            console.log('Archivo PNG cargado y previsualizado.');
        } else {
            fileInput.value = "";
            overlayMessage.innerHTML = "Formato no permitido <br> por favor suba su logo en formato .PNG";
            overlay.style.display = 'flex';
            document.body.style.overflow = 'hidden';
            console.error('Archivo seleccionado no es PNG.');
        }
    });

    removeButton.addEventListener('click', () => {
        fileInput.value = "";
        filePreview.src = "";
        previewContainer.style.display = 'none';
        botonSubir.innerHTML = 'SUBIR ARCHIVO <img src="https://cdn.shopify.com/s/files/1/0622/2161/5164/files/FolderUpIcon.svg?v=1720358303" alt="FolderUpIcon" style="filter: invert(1); width: 30px; height: 30px; vertical-align: middle; margin-left: 5px;">';
        console.log('Archivo removido y previsualización ocultada.');
    });

    addToCartButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            // Verificar si se ha seleccionado un archivo antes de permitir el envío del formulario
            if (!fileInput.value) {
                event.preventDefault();
                overlayMessage.textContent = "Ups! Has olvidado cargar tu archivo.";
                overlay.style.display = 'flex';
                document.body.style.overflow = 'hidden';
                console.log('Intento de añadir al carrito sin archivo, overlay mostrado.');
            } else {
                // Obtener todos los formularios de producto y enviar el archivo a cada uno
                const forms = document.querySelectorAll('form.product-form');
                forms.forEach(form => {
                    const formData = new FormData(form);
                    formData.append('properties[LOGO]', fileInput.files[0]);
                    // Aquí puedes enviar formData al servidor o procesarlo según necesites
                    console.log('Formulario enviado con archivo:', formData);
                    // Simular el envío del formulario (solo para demostración)
                    form.submit();
                });
            }
        });
    });

    closeOverlay.addEventListener('click', () => {
        overlay.style.display = 'none';
        document.body.style.overflow = 'auto';
        console.log('Overlay cerrado.');
    });
});


</script>


