<!-- Contenido de la sección -->
<div class="mi-seccion">
  <h2>{{ section.settings.titulo }}</h2>
  <p>{{ section.settings.descripcion }}</p>
</div>

{% schema %}
{
  "name": "Mi Sección",
  "settings": [
    {
      "type": "text",
      "id": "titulo",
      "label": "Título",
      "default": "Este es el título de la sección"
    },
    {
      "type": "textarea",
      "id": "descripcion",
      "label": "Descripción",
      "default": "Esta es la descripción de la sección."
    }
  ]
}
{% endschema %}
