{% schema %}
    {
      "name": "Boton Subir Archivo",
      "settings": [],
      "presets": [
        {
          "name": "Custom Snippet",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    
    <div class="custom-snippet-section">
      {% include 'custom-snippet' %}
    </div>
    