
<div>
  {% render 'botonsubir' %}
</div>

{% schema %}
  {
    "name": "Subida de Archivos",
    "settings": [
      {
        "type": "text",
        "id": "file_button_text",
        "label": "Texto del Botón de Subida",
        "default": "SUBIR ARCHIVO"
      },
      {
        "type": "text",
        "id": "change_button_text",
        "label": "Texto del Botón de Cambio",
        "default": "CAMBIAR ARCHIVO"
      }
      
    ]
  }
  {% endschema %}
  

  
