{% schema %}
    {
      "name": "Subida de Archivos",
      "settings": [
        {
          "type": "text",
          "id": "file_button_text",
          "label": "Texto del Bot칩n de Subida",
          "default": "SUBIR ARCHIVO"
        },
        {
          "type": "text",
          "id": "change_button_text",
          "label": "Texto del Bot칩n de Cambio",
          "default": "CAMBIAR ARCHIVO"
        },
        {
          "type": "select",
          "id": "file_extensions",
          "label": "Extensiones de Archivo Permitidas",
          "options": [
            {
              "value": "image/png",
              "label": "PNG"
            },
            {
              "value": "image/jpeg",
              "label": "JPEG"
            },
            {
              "value": "image/gif",
              "label": "GIF"
            }
          ],
          "default": "image/png"
        },
        {
          "type": "number",
          "id": "max_file_size",
          "label": "Tama침o M치ximo de Archivo (MB)",
          "default": 5
        }
      ]
    }
    {% endschema %}
    
    <div>
      {% render 'botonsubir' %}
    </div>