.multicolumn-card::before {
  content: "";
  position: absolute;
  top: -2px; /* Ajusta según el grosor del borde */
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: var(--text-boxes-radius);
  background-image: linear-gradient(
    to right,
    #5a0dff -5%,
    #ff29b8 31%,
    #ff581c,
    #ff29b8,
    #5a0dff
  );
  background-size: 200% 100%;
  z-index: -1; /* Asegúrate de que esté detrás del contenido */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave para el efecto */
}

.multicolumn-card:hover::before {
  opacity: 1; /* Muestra el borde degradado al hacer hover */
  animation: gradientAnimation 4s linear infinite; /* Inicia la animación */ 
  z-index: -1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
  overflow: hidden; /* Asegúrate de que los elementos hijos no se salgan del contenedor */
}

.multicolumn-card:hover {
  transform: scale(1.1); /* Escala las columnas al pasar el cursor */
  z-index: 1; /* Asegúrate de que el borde degradado esté visible */
}

